@font-face {
  font-family: 'Galmuri11';
  src: url('../assets/fonts/Galmuri11.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Galmuri11';
  src: url('../assets/fonts/Galmuri11-Bold.woff2') format('woff2');
  font-weight: 700;
}
